VITE_SUPABASE_URL=https://bdvrcpisjatvbbqffswp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkdnJjcGlzamF0dmJicWZmc3dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMzUxMDQsImV4cCI6MjEwNTgxMTEwNH0.amQFqHKdkcHNFFa-HNFSXL-uFvDkGzJA9NyPErSRKOI
NEXT_PUBLIC_SUPABASE_URL=https://bdvrcpisjatvbbqffswp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkdnJjcGlzamF0dmJicWZmc3dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMzUxMDQsImV4cCI6MjEwNTgxMTEwNH0.amQFqHKdkcHNFFa-HNFSXL-uFvDkGzJA9NyPErSRKOI
NEXT_PUBLIC_WHATSAPP_NUMBER="917729992125"
NEXT_PUBLIC_DISPLAY_PHONE="+91 77299 92125"
VITE_WHATSAPP_NUMBER="917729992125"
VITE_DISPLAY_PHONE="+91 77299 92125"
NEXT_PUBLIC_ADMIN_EMAIL="prasadkolla1968@gmail.com"
VITE_ADMIN_EMAIL="prasadkolla1968@gmail.com"
